<li id="post-<%= post._id%>"> 
    <p>
        <% if(locals.user && (locals.user.id == post.user.id)) {%>
            <a class="post-delete-button" href="/posts/destroy/<%= post.id %>">X</a>
        <% } %>
        <%= post.content %> 
        <br>
        
        <span><a id="like-<%= post._id %>" href="/likes/toggle/?id=<%= post._id%>&type=Post">Likes : <%= post.likes.length %> </a></span>
        <br>
        <span>Posted by: <%= post.user.name %> </span>
       
        <br>
        <div id="post-comments" >
            <% if(locals.user){ %>
            <form id="new-<%= post._id%>-comment-form" action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Add a comment" required>
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add Comment">
            </form>
            <% } %>
            
            <div id="post-comments-list">
                <ul id="post-comments-<%= post._id %>" >
                    <% for(comment of post.comments){ %>

                        <%- include('_comment') -%>

                    <% } %>
                </ul>
            </div>
        </div>
            
    </p>
</li>
