
<link rel="stylesheet" href="/css/profile.css">

    <div>
        <h1>
            Codial / Profile Page
        </h1>
    </div>

    <img src="<%= profile_user.avatar%>"  alt="<%= profile_user.name%>" width="200">

    <% if(user.id == profile_user.id){ %>
        <!-- If user matches then show form -->
        <form action="/users/update/<%= user.id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" value="<%= profile_user.name%>" required><br>
            <input type="email" name="email" value="<%= profile_user.email%>" required><br>
            <input type="password" name="password" value="<%= profile_user.password%>" required><br>
            <input type="file" name="avatar" />
            <input type="submit" value="Update">
        </form> 
 
        <!-- <form action="/users/upload-avatar/" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <input type="submit" name="submit" value="upload">
        </form> -->
        <a href="/users/redirect-test">Reset password</a>
    <% }else{ %>
        <!-- Else show only user information -->
        <p>Name : <%= profile_user.name%></p>
        <p>Email : <%= profile_user.email%></p>
        <% if(locals.user.friends.includes(profile_user.id)) {%>
        <a id="friend" href="/friendship/remove/?from=<%= user.id%>&to=<%= profile_user.id%>"> Remove friend </a>
        <% }else{ %>
        <a id="friend" href="/friendship/add/?from=<%= user.id%>&to=<%= profile_user.id%>"> Add friend </a>
        <% } %>    
        

    <% } %>

  

    <script src="/js/friendship.js"></script>
